<div id="product_list">
<h1>Listing products</h1>

<table>
<% @products.each do |product| %>
   <%= render partial: "product", locals: {product: product} %>
    <% end %>
    
</table>
</div>

<br/>

<%= link_to 'New product', new_product_path %> 
